<div class="page-container">
  <div class="page-content" #scrollContainer>
    @if (loading()) {
      <p>Cargando salón...</p>
    } @else if (error()) {
      <p class="error">{{ error() }}</p>
    } @else {
      <app-seating-grid-view
  [seatingsInput]="seatings()"
  [selectedSeating]="selectedSeating()"
  (seatingFreeSelected)="onFreeSeatingSelected($event)"
  (seatingOccupiedSelected)="onOccupiedSeatingSelected($event)"
  (seatingBillingSelected)="onBillingSeatingSelected($event)">
</app-seating-grid-view>
    }
  </div>

  <aside class="aside-panel seating-aside">
    <div class="aside-panel-wrapper">

      @if (currentMode() === 'createOrder' && selectedSeating()) {
        <app-order-form
          [seatingId]="selectedSeating()!.id"
          [attr.key]="selectedSeating()!.id"
          (orderCreated)="onOrderCreated()"
          (orderClosed)="onOrderClosed()">
        </app-order-form>
      }
      @else if ((currentMode() === 'occupiedDetail' || currentMode() === 'billing') && selectedSeating()?.activeOrder) {
        <app-order-items-form
          [order]="selectedSeating()!.activeOrder!"
          (orderClosed)="onOrderClosed()"
          (orderUpdated)="onOrderUpdated()">
        </app-order-items-form>
      }
      @else {
        <div class="aside-panel-header"><h2>Vista del salón</h2></div>
        <div class="aside-panel-container">
          <p class="text-muted">Hacé clic en una mesa libre para crear una nueva orden.</p>
        </div>
      }
    </div>
  </aside>
</div>
