/* employee-detail.css */
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

:host .detail-badge.active {
  background-color: #d4edda !important;
  color: #155724 !important;
}

:host .detail-badge.inactive {
  background-color: #f8d7da !important;
  color: #721c24 !important;
}