.preview-box {
  position: relative;
  background-color: var(--color-primary-lightest);
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-radius: 8px;
}

.preview-box--empty {
  color: var(--color-text-secondary);
  font-size: var(--font-sm);
}

.preview-empty-text {
  opacity: 0.8;
}
