<div class="aside-panel-wrapper">
  @if (seating()) {
    <app-form
      [config]="formConfig()"
      [isEditMode]="mode() === 'edit'"
      [initialData]="seating()!"
      [showHeader]="true"
      [showFooter]="true"
      [headerTitle]="mode() === 'create' ? 'Nueva ubicación' : 'Editar ubicación'"
      [submitButtonLabel]="mode() === 'create' ? 'Crear ubicación' : 'Guardar'"
      (formSubmit)="onSubmit($event)"
      (formCancel)="onCancel()"
      (formClose)="onClose()">
    </app-form>
  }

   @if (showAlert()) {
    <app-alert
      [title]="alertTitle()"
      [message]="alertMessage()"
      (onAccept)="showAlert.set(false)"
      (onClose)="showAlert.set(false)">
    </app-alert>
  }
</div>