
.client-name {
  font-weight: 600;
  color: var(--color-text);
}

.client-note {
  font-size: 0.8rem;
  color: var(--color-text-muted);
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.email {
  color: var(--color-primary-secondary);
  font-weight: 500;
}

.phone {
  color: var(--color-text);
  font-size: 0.85rem;
}


.avatar {
  background: var(--color-primary);
  color: var(--color-white);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}


.client-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
