.page.customers-page {
  display: grid;
  grid-template-columns: 1fr; 
  align-items: center;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  transition: grid-template-columns 0.4s ease;
}

.page.customers-page.form-open {
  grid-template-columns: 2.1fr 0.9fr; /* más espacio para la tabla */
  padding-right: 3rem; /* da margen para el aside */
}

.page.customers-page .aside-form {
  justify-self: end;
  margin-right: 0; /* pegado al borde derecho */
  animation: slideIn 0.4s ease forwards;
}

.page.customers-page.form-open .page-left {
  transform: translateX(-0.3rem);
  transition: transform 0.3s ease;
}




.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* separa buscador y botón */
  gap: 1rem;
  background: var(--color-primary-lightest);
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  margin-bottom: 1.2rem;
}

*/
.add-btn {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 0.7rem 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.add-btn:hover {
  background: var(--color-primary-light);
  transform: scale(1.05);
}

/* ======== FORMULARIO LATERAL ======== */
app-customers-form {
  justify-self: end; /* Lo coloca al borde derecho */
  width: 100%;
  max-width: 480px;
  animation: slideInRight 0.4s ease forwards;
}