<section class="page customers-page" [class.form-open]="showForm()">
  <section class="page-left">
    <div class="top-bar">
      <div class="search-box">
        <img src="assets/images/search-icon.png" alt="Buscar" class="search-icon" />

        <input type="text" placeholder="Buscar cliente..." (keyup.enter)="onSearch($event)" #searchInput />

        <button type="button" class="clear-btn" (click)="clearSearch(searchInput)">
          Limpiar
        </button>
      </div>

      @if (!showForm()) {
      <div class="actions">
        <button type="button" class="add-btn" (click)="toggleForm()">
          Nuevo cliente
        </button>
      </div>
      }


    </div>

    <div class="table-section">
      @if (loading()) {
      <p class="loading-text">Cargando clientes...</p>
      } @else {
      @if (customers().length > 0) {
      <app-customers-table [customers]="customers()" (edit)="onEditCustomer($event)"
        (delete)="onDeleteCustomer($event)" />
      } @else {
      <div class="no-results">
        <p>No se encontraron clientes.</p>
        <button type="button" (click)="reloadTable()">Mostrar todos</button>
      </div>
      }
      }
    </div>
  </section>

  @if (showForm()) {

    <div class="aside-form">
    <app-customers-form
      [customer]="selectedCustomer()"
      (cancel)="onCancel()"
      (saved)="reloadTable()" />
  </div>
  }
</section>