<footer>
    <div class="container">

        <div class="top">
            <div class="logo">
                   <a href="/">
                       <img src="assets/images/gastronomia-logo-black.png" alt="Logo Gastronomía API">
                   </a>
            </div>

            <div class="social">
                
            </div>
        </div>

        <hr>

        <div class="content">
            <div class="culture">
                <h6>Sobre Nosotros</h6>
                <p>Somos un equipo apasionado por la gastronomía digital. Creamos soluciones modernas e innovadoras para restaurantes y negocios del sector.</p>
                <p>Fundadores:</p>
                <p>Máximo, Matías, Francesco, Gabriel y Piero</p>
            </div>

            <div class="help">
                <h6>Recursos</h6>
                <p><a href="">Preguntas Frecuentes</a></p>
                <p><a href="">Términos y Condiciones</a></p>
                <p><a href="">Política de Privacidad</a></p>
            </div>

            <div class="location">
                <h6>Dónde Estamos</h6>
                <p>Argentina</p>
                <p>Mar del Plata - Buenos Aires</p>
                <p>Av. Independencia 3245, Piso 2</p>
            </div>

            <div class="contact">
                <h6>Contacto</h6>
                <p>Teléfono: (0223) 456-7890</p>
                <p>Atención: Lunes a Lunes, 09:00 a.m. - 01:00 a.m.</p>
                <ul>
                    <li>
                        Comercial: 
                        <a href="mailto:ayuda@gastro.com">ayuda@gastro.com</a>
                    </li>
                    <li>
                        Soporte Técnico: 
                        <a href="mailto:soporte@gastro.com">soporte@gastro.com</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="bottom">
            
            <div class="rights">
                <p>© 2025 Gastronomía API. Todos los derechos reservados.</p>
            </div>

            <div class="country">
                <p>Argentina</p>
            </div>
        </div>

    </div>
</footer>