<footer>
    <div class="container">

        <div class="top">
            <div class="logo">
                <a href=""></a>
            </div>
        </div>

        <div class="social">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
        
        <hr>

        <div class="content">
            <div class="culture">
                <h6>Sobre Nosotros</h6>
                <p>Maximo</p>
                <p>Matias</p>
                <p>Francesco</p>
                <p>Gabriel</p>
                <p>Piero</p>
            </div>

            <div class="help">
                <h6>Recursos</h6>
                <p>Preguntas Frecuentes</p>
            </div>

            <div class="location">
                <h6>Donde estamos</h6>
                <p>Argentina</p>
                <p>Marl del Plata - Buenos Aires</p>
            </div>

            <div class="contact">
                <h6>Contacto</h6>
                <p>6666666666</p>
                <p>Lunes a lunes de 09:00 a. m. a 01:00 a.m</p>
                <ul>
                    <li>
                        Comercial
                        <a href="">ayuda@gastro.com</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="bottom">
            <div class="rights">
                <p> © <span id="current-year">2025</span> Gastronomia Api. Todos los derechos reservados </p>
            </div>

            <div class="country">
                <p>Argentina</p>
            </div>
        </div>

    </div>
</footer>