/* Orders root page container */
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Sub-header uses component styles */

/* Router outlet container */
:host ::ng-deep router-outlet + * {
  flex: 1;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}
